<div>
  <h1><%= link_to "<<", attendances_path(date: @date.yesterday) %> <%= @date %> <%= link_to ">>", attendances_path(date: @date.tomorrow) %></h1>
  <h1><%= @date.strftime("%A") %></h1>
</div>

<div class="attendances">
  <% @employees.each do |employee| %>
    <%= link_to reviewer_attendances_path(employee.id), class: "card" do %>
        <div class="container title <%= employee.signed_in?(@date) ? "signed-in" : "signed-out" %>">
          <div><%= employee.name %> <%= employee.signed_in?(@date) ? "(IN)" : "(OUT)"%></div>
        </div>
        <div class="container title <%= employee.department %> <%= employee.signed_in?(@date) ? "signed-in" : "signed-out" %>">
          <div><%= employee.department %></div>
        </div>
        <img src="<%= employee.photo %>" alt="Avatar" class="attendance-photo <%= employee.signed_in?(@date) ? "signed-in" : "signed-out" %>">
        <div class="container title attendance <%= employee.attendance(@date).downcase %> <%= employee.signed_in?(@date) ? "signed-in" : "signed-out" %>">
          <%= "#{employee.attendance(@date).humanize}" %>
        </div>
        <div class="container title time">
          <% if employee.signed_in_time(@date) %>
            <div><%= employee.signed_in_time(@date) %> - <%= employee.signed_out_time(@date) || '?' %></div>
            <div>(<%= employee.total_time_in_today(@date) %>)</div>
          <% else %>
            <div>Haven't signed in.</div>
            <div>(00:00:00)</div>
          <% end %>
        </div>
        <div class="container title slack">
          <span class="dot <%= employee.online_in_slack?(@date) ? "online" : "offline" %>"></span>&nbsp;
          <span>Slack</span>
        </div>
    <% end %>
  <% end %>
</div>
